<div class="container mb-5">
    <div class="mt-3  row justify-content-start">
        <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6  mt-2" *ngFor="let servico of servicos;">
            <div class="p-4 clip-path-rectangle">
                <mat-icon class="cor-branca" aria-hidden="false" aria-label="Servicos"
                    [fontIcon]="servico.icone"></mat-icon>
                <h4 class="cor-azul">{{servico.nome}}</h4>
                <small [innerHTML]="servico.titulo"></small>
                <br><br>
                <small [innerHTML]="servico.descricao"></small>
            </div>
            <!-- <img width="60%" height="60%" [src]="servico.imagem"> -->
        </div>
    </div>
</div>