<div class="text-center mt-2">
    <img class="imgPerfil" src="../../../assets/imgs/usuario.png">
    <div class="mt-3 p-4">
        <h3>{{cliente?.nome}} {{cliente?.sobrenome}}</h3>
        <p><strong>Endereço:</strong> {{cliente?.endereco}} - Número: {{cliente?.numero}} - Cep: {{cliente?.cep}}
        </p>
        <p><strong>Email:</strong> {{cliente?.email}}</p>
        <p><strong>Telefone:</strong> {{cliente?.telefone}}</p>
        <p *ngIf="cliente?.localizacao"><strong></strong>
            <a [href]="cliente?.localizacao" target="_blank">Localização da Diária</a>
        </p>
    </div>
    <form [formGroup]="formLogin" class="mt-2 row justify-content-center">
        <div class="col-8 mt-2">
            <mat-form-field class="col-12 ">
                <mat-label>Senha</mat-label>
                <input autocomplete="false" type="password" matInput formControlName="senha">
            </mat-form-field>
        </div>
        <div class="col-8 mt-2">
            <mat-form-field class="col-12 ">
                <mat-label>Confime a Senha</mat-label>
                <input autocomplete="false" type="password" matInput formControlName="senhaVal">
            </mat-form-field>
        </div>

    </form>
    <div>
        <button mat-button class="mt-3 p-4 mb-3" (click)="alterarSenha()">Alterar Senha</button>
    </div>
</div>