<div class="text-center mt-2">
    <div class="container"></div>
    <app-titulo titulo="Meu Perfil"></app-titulo>
    <!-- <img class="imgPerfil" src="../../../assets/imgs/usuario.png"> -->
    <!-- <div class="mt-2 text-center">
        <div class="d-flex justify-content-center">
            <mat-button-toggle-group formControlName="valor" required [disabled]="!exibePerfil">
                <mat-button-toggle value="1">Cliente</mat-button-toggle>
                <mat-button-toggle value="2">Diarista</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div> -->
    <div *ngIf="exibePerfil" class="mt-5 p-4">
        <!-- <h3>{{cliente?.nome}} {{cliente?.sobrenome}}</h3> -->
        <div *ngIf="!editaPerfil" class="mt-2 row justify-content-center">
            <div class=" col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Nome</mat-label>
                    <input autocomplete="false" type="text" matInput [(ngModel)]="formCliente.controls['nome'].value"
                        disabled="true">
                </mat-form-field>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Sobrenome</mat-label>
                    <input autocomplete="false" type="text" matInput
                        [(ngModel)]="formCliente.controls['sobrenome'].value" disabled="true">
                </mat-form-field>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Endereço</mat-label>
                    <input autocomplete="false" type="text" matInput
                        [(ngModel)]="formCliente.controls['endereco'].value" disabled="true">
                </mat-form-field>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Número</mat-label>
                    <input autocomplete="false" type="text" matInput [(ngModel)]="formCliente.controls['numero'].value"
                        disabled="true">
                </mat-form-field>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Cep</mat-label>
                    <input mask="00000-000" maxlength="9" autocomplete="false" type="text" matInput
                        [(ngModel)]="formCliente.controls['cep'].value" disabled="true">
                </mat-form-field>
            </div>
            <!-- <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Localização</mat-label>
                    <input  autocomplete="false" type="text" matInput formControlName="localizacao">
                </mat-form-field>
            </div> -->
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Telefone</mat-label>
                    <input mask="(00) 00000-0000 | (00) 0000-0000" autocomplete="false" type="text" matInput
                        [(ngModel)]="formCliente.controls['telefone'].value" disabled="true">
                </mat-form-field>
            </div>
            <p *ngIf="cliente?.localizacao"><strong></strong>
                <a [href]="cliente.localizacao" target="_blank">Localização da Diária</a>
            </p>
        </div>
        <div *ngIf="editaPerfil">
            <form [formGroup]="formCliente" class="mt-2 row justify-content-center">
                <div class=" col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
                    <mat-form-field class="col-12 ">
                        <mat-label>Nome</mat-label>
                        <input autocomplete="false" type="text" matInput formControlName="nome">
                    </mat-form-field>
                </div>
                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                    <mat-form-field class="col-12 ">
                        <mat-label>Sobrenome</mat-label>
                        <input autocomplete="false" type="text" matInput formControlName="sobrenome">
                    </mat-form-field>
                </div>
                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                    <mat-form-field class="col-12 ">
                        <mat-label>Endereço</mat-label>
                        <input autocomplete="false" type="text" matInput formControlName="endereco">
                    </mat-form-field>
                </div>
                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                    <mat-form-field class="col-12 ">
                        <mat-label>Número</mat-label>
                        <input autocomplete="false" type="text" matInput formControlName="numero">
                    </mat-form-field>
                </div>
                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                    <mat-form-field class="col-12 ">
                        <mat-label>Cep</mat-label>
                        <input mask="00000-000" autocomplete="false" type="text" matInput formControlName="cep">
                    </mat-form-field>
                </div>
                <!-- <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Localização</mat-label>
                    <input  autocomplete="false" type="text" matInput formControlName="localizacao">
                </mat-form-field>
            </div> -->
                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12  mt-2">
                    <mat-form-field class="col-12 ">
                        <mat-label>Telefone</mat-label>
                        <input mask="(00) 00000-0000" autocomplete="false" type="text" matInput
                            formControlName="telefone">
                    </mat-form-field>
                </div>
                <p *ngIf="cliente?.localizacao"><strong></strong>
                    <a [href]="cliente.localizacao" target="_blank">Localização da Diária</a>
                </p>
            </form>
        </div>
        <br><br>
        <div class="row justify-content-center mt-5 p-4 mb-3">
            <button *ngIf="!editaPerfil" class="col-4 btn btn-warning"
                (click)="editaPerfil = !editaPerfil">Editar</button>
            <button *ngIf="editaPerfil" style="margin-left: 10px;" class="col-4 btn btn-success"
                [disabled]="formCliente.invalid" (click)="atualizar()">Atualizar</button>
            <button style="margin-left: 10px;" class="col-4 btn btn-success" (click)="alterarSenha()">Alterar
                Senha</button>
        </div>
    </div>
    <div *ngIf="!exibePerfil" class="mt-3 p-4">
        <form [formGroup]="formLogin" class="mt-2 row justify-content-center">

            <div class="col-12 mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Antiga Senha</mat-label>
                    <input autocomplete="false" type="password" matInput formControlName="senhaAntiga">
                </mat-form-field>
            </div>
            <div class="col-12 mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Nova Senha</mat-label>
                    <input autocomplete="false" type="password" matInput formControlName="senha">
                </mat-form-field>
            </div>
            <div class="col-12  mt-2">
                <mat-form-field class="col-12 ">
                    <mat-label>Confime a Nova Senha</mat-label>
                    <input autocomplete="false" type="password" matInput formControlName="senhaVal">
                </mat-form-field>
            </div>
        </form>
        <div class="row justify-content-center mt-5">
            <button class="col-4 btn btn-warning" (click)="exibePerfil = !exibePerfil">Cancelar</button>
            <button [disabled]="formLogin.invalid" style="margin-left: 20px;" class="col-4  btn btn-success "
                (click)="salvarSenha()">Salvar</button>
        </div>
    </div>
</div>