<div class="custom">
  <form [formGroup]="formCep">
    <div class="row justify-content-center">
      <mat-form-field class="col-12  ">
        <mat-label>Digite seu cep</mat-label>
        <input mask="00000-000" maxlength="9" type="text" matInput formControlName="cep">
        @if (formCep.invalid) {
        <mat-error>Preencha todos os dígitos</mat-error>
        }
      </mat-form-field>
      <mat-checkbox #check formControlName="naoEncontrado" class="text-start">Cep não
        encontrado.</mat-checkbox> <br>
      <button *ngIf="!formCep.controls['naoEncontrado'].value" class="col-2 col-xl-2 col-lg-2 col-md-2 col-sm-12  "
        (click)="getCep(formCep.controls['cep'].value)" style="margin-left: 20px;"
        [disabled]="formCep.controls['cep'].invalid" mat-button>Buscar</button>
    </div>
    <div *ngIf="exibeCep || formCep.controls['naoEncontrado'].value" class="mt-3 row justify-content-center">
      <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-6  mt-2">
        <mat-form-field class="col-12">
          <mat-label>Logradouro</mat-label>
          <input type="text" matInput formControlName="logradouro">
        </mat-form-field>
      </div>
      <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-6  mt-2">
        <mat-form-field class="col-12 ">
          <mat-label>Número</mat-label>
          <input type="text" matInput formControlName="numero">
        </mat-form-field>
      </div>
      <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-6  mt-2">
        <mat-form-field class="col-12 ">
          <mat-label>Complemento</mat-label>
          <input type="text" matInput formControlName="complemento">
        </mat-form-field>
      </div>

      <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-6  mt-2">
        <mat-form-field class="col-12">
          <mat-label>Bairro</mat-label>
          <input type="text" matInput formControlName="bairro">
        </mat-form-field>
      </div>
      <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-6  mt-2">
        <mat-form-field class="col-12 ">
          <mat-label>Localidade</mat-label>
          <input type="text" matInput formControlName="localidade">
        </mat-form-field>
      </div>
      <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-6  mt-2">
        <mat-form-field class="col-12 ">
          <mat-label>UF</mat-label>
          <input type="text" matInput formControlName="uf">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>