@import '../../../color.scss';

.custom {
    .mat-mdc-form-field {
        margin-top: 16px;
    }


    input {
        border: none;
        color: $primary;

        :disabled {
            color: $primary !important;
        }
    }


    ::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
        color: $primary !important;
    }

    ::ng-deep .mdc-text-field[disabled] {
        color: $primary;
    }

    ::ng-deep mat-form-field {
        background-color: white !important;
    }

    ::ng-deep .mdc-button {
        color: $white !important;
        background-color: $primary !important;
    }

    ::ng-deep .mdc-button:disabled {
        background-color: $sub !important;
    }


    ::ng-deep .mdc-text-field {
        background-color: $sub !important;
        color: $primary !important;
        // padding: 0px !important;

        :disabled {
            background-color: $sub !important;
            color: $primary !important;
            padding: auto !important;
        }
    }
}

.quadro {
    color: $primary;
    // background-color: $primary;
    border-radius: 10px;
}

h5 {
    margin-bottom: 30px;
}


.disposicao-botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50vh;
}

.disposicao-botoes-sem-margem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


::ng-deep mat-checkbox {
    .mdc-label {
        color: $primary !important;
    }
}

::ng-deep #checkboxCep  {
    .mdc-checkbox__background {
        border: 1px solid $primary !important;
    }
}