<div class="mt-2 row justify-content-center">
    <div class=" p-2">
        <p class="col-12">
            Na <strong>Extra Clean</strong>, entendemos que um ambiente limpo e organizado é fundamental para o
            bem-estar e
            a produtividade. Com uma equipe altamente treinada e comprometida com a qualidade, somos especialistas em
            oferecer serviços
            de limpeza de apartamentos, lojas e casas com um nível de cuidado e eficiência incomparável.
        </p>
        <div class="p-4 col-12 col-xl-4 col-lg-5 col-md-12 col-sm-12 ">
            <div class=" centered-background"></div>
        </div>
        <div class="col-12 col-xl-8 col-lg-7 col-md-12 col-sm-12 ">
            <div>
                <div class="mt-2">
                    <p><strong>Profissionalismo e Confiança:</strong> Nossos colaboradores são rigorosamente
                        selecionados e
                        treinados para garantir que cada serviço de limpeza seja realizado com a máxima atenção aos
                        detalhes
                        e respeito pelo seu espaço.</p>
                    <p><strong>Serviços Personalizados:</strong> Sabemos que cada cliente tem necessidades únicas.
                        Oferecemos soluções de limpeza sob medida para apartamentos, lojas e casas, adaptando-nos às
                        suas
                        preferências e exigências.</p>
                    <p><strong>Produtos e Equipamentos de Qualidade:</strong> Utilizamos produtos de limpeza ecológicos
                        e
                        equipamentos de ponta para garantir resultados impecáveis e um ambiente seguro para você e sua
                        família ou equipe.</p>
                    <p><strong>Compromisso com a Satisfação:</strong> Nossa missão é exceder suas expectativas.
                        Trabalhamos
                        incansavelmente para garantir que cada canto do seu espaço esteja impecavelmente limpo,
                        proporcionando um ambiente acolhedor e livre de preocupações.</p>
                </div>
            </div>
        </div>
        <div>
            <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
            <a href="https://api.whatsapp.com/send?phone=5561998657077&text=Ol%C3%A1,%20vim%20pelo%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!"
                class="whatsapp" target="_blank">
                <i style="margin-top:16px" class="fa fa-whatsapp"></i>
            </a>
        </div>
    </div>
</div>