<div class="mt-5">
  <div>
    <div class="row justify-content-center">
      <mat-checkbox class="col-6" [(ngModel)]="habilitaAlteracaoProfissional">Habilitar Troca de Profissional</mat-checkbox> <br>
      <mat-checkbox class="col-6" [(ngModel)]="habilitaReagendamento">Habilitar Reagendamentos</mat-checkbox> <br>
    </div>
    <mat-form-field class="col-12" *ngIf="isAdm">
      <mat-label>Profissional</mat-label>
      <select matNativeControl [(ngModel)]="profissional" (ngModelChange)="atualizarProfissional()">
        <option>Não Selecionado</option>
        <option *ngFor="let prof of profissionais;" [value]="prof">{{prof}}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Período</mat-label>
      <select matNativeControl [(ngModel)]="turno" (ngModelChange)="atualizarProfissional()">
        <option value="0">Não Definido</option>
        <option value="1">Matutino</option>
        <option value="2">Vespertino</option>
      </select>
    </mat-form-field>
    <!-- <mat-form-field class="col-12">
      <mat-label>Ajustar Visualização</mat-label>
      <select matNativeControl [(ngModel)]="qtdInfo">
        <option value="1:1">1</option>
        <option value="1:2">2</option>
        <option value="1:3">3</option>
        <option value="1:4">4</option>
        <option value="1:5">5</option>
        <option value="1:6">6</option>
        <option value="1:7">7</option>
        <option value="1:8">8</option>
        <option value="1:9">9</option>
        <option value="1:10">10</option>
      </select>
    </mat-form-field> -->
  </div>
  <div>
    <div>
      <mat-form-field class="col-12">
        <mat-label>Escolha um Período</mat-label>
        <select matNativeControl [(ngModel)]="periodo" (ngModelChange)="atualizarPeriodo()">
          <option *ngFor="let per of proximosPeriodos; let i = index;" [value]="i">{{getLabel(per)}}</option>
        </select>
      </mat-form-field>
    </div>
    <!-- <mat-grid-list cols="6" rowHeight="3:1">
      <mat-grid-tile id="per" *ngFor="let per of proximoPeriodoSelecionado">{{per | data}}</mat-grid-tile>
    </mat-grid-list> -->
    <div *ngIf="!existeRegistro()" class="row justify-content-center text-center mt-5">
      <h3 class="text-primary">Sem Agendamentos</h3>
    </div>
    <div *ngIf="existeRegistro()" class="row justify-content-center text-center">
      <div id="per" *ngFor="let per of proximoPeriodoSelecionado"
        class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-2 p-2">
        {{per | data}}
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="turno == 1 || turno == 0">
      <div id="mat" *ngFor="let mat of proximoPeriodoSelecionado" class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-2">
        <div class="row justify-content-center">
          <div class="col-12 align-items-center" *ngFor="let diaria of getListaDiariasDia(mat, true)">
            <div class="p-1" *ngIf="diaria">
              <hr>
              <div class="row justify-content-center">
                <mat-form-field *ngIf="habilitaReagendamento" class=" col-xl-10 col-lg-10 col-md-10 col-sm-12 "
                  style="">
                  <mat-label>Reagendar</mat-label>
                  <input matInput [min]="hoje" [matDatepicker]="picker" [(ngModel)]="diaria.dataReagendamento">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker>
                  </mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngIf="habilitaAlteracaoProfissional" class=" col-xl-10 col-lg-10 col-md-10 col-sm-12 "
                  style="">
                  <mat-label>Novo Profissional</mat-label>
                  <input matInput [(ngModel)]="diaria.profissionalAtualizado">
                </mat-form-field>
              </div>
              <div class="row justify-content-center">
                <small class="col-6"><strong>Cliente: </strong>{{diaria.nomeCliente | ponto: 15}}</small><br>
                <small class="col-6"><strong>Profissional: </strong>{{diaria.nomeDiarista}}</small><br>
                <small class="col-6"><strong>Tipo: </strong>{{diaria.tipoLimpeza | tipoServico}}</small><br>
                <small class="col-6"><strong>Horas: </strong>{{diaria.horas |
                  horasDiaria}}</small><br>
                <!-- <small class="col-6" *ngIf="!diaria.contratada"><strong>Valor: </strong>{{diaria.valor |
                  moeda}}</small><br>
                <small class="col-6" *ngIf="!diaria.contratada"><strong>Desconto: </strong>{{diaria.desconto |
                  moeda}}</small><br> -->
                <small class="col-6"><strong>Situação: </strong>{{diaria.situacao | situacaoDiaria}}</small><br>
                <small class="col-6"><strong>Turno: </strong>{{diaria.turno | turno}}</small><br>
                <small class="col-12"><strong>Situação Pagamento: </strong>{{diaria.situacaoPagamento |
                  situacaoPagamento}}<br></small>
                <small class="col-12"><strong>Endereço: </strong>{{diaria.endereco}}</small><br>
                <small class="col-12"><strong>Localização: </strong> <a *ngIf="diaria.localizacao" target="_blank"
                    [href]="diaria.localizacao">Localização</a></small><br>
                <small class="col-12" *ngIf="exibeBotoesModificacao(diaria)"><strong>Pagamento: </strong>
                  <a target="_blank" [href]="diaria.linkPagamento">Link Pagamento</a><br>
                </small>
              </div>
              <div id="botoesMarcacao" *ngIf="!isAdm" class="col-12 row justify-content-center mt-3">
                <button *ngIf="isPagamentoEmAberto(diaria) && !diaria.entrada"
                  (click)="marcarHorarioAtendimento(diaria, true)" class="col-8 btn btn-primary" mat-button>
                  Marcar Chegada
                </button>
                <button *ngIf="isPagamentoEmAberto(diaria) && diaria.entrada && !diaria.saida"
                  (click)="marcarHorarioAtendimento(diaria, false)" class="col-8 btn btn-primary" mat-button>
                  Marcar Saída
                </button>
              </div>
              <div *ngIf="isDiariaEmAdamento(diaria)" class="row justify-content-center mt-3">
                <button (click)="finalizarAgendamento(diaria)" type="button" class="col-8 btn btn-primary">Finalizar
                </button>
                <button *ngIf="exibeBotoesModificacao(diaria)" (click)="cancelarAgendamento(diaria)" type="button"
                  class="col-8 btn btn-danger mt-2">Cancelar
                </button>
                <button *ngIf="habilitaReagendamento" [disabled]="!diaria.dataReagendamento"
                  (click)="reagendarAgendamento(diaria)" type="button"
                  class="col-8 btn btn-success mt-2">Reagendar</button>
                <button *ngIf="habilitaAlteracaoProfissional" [disabled]="!diaria.profissionalAtualizado"
                  (click)="atualizarProfissionalAgendamento(diaria)" type="button"
                  class="col-8 btn btn-success mt-2">Atualizar Profissional</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="turno == 2 || turno == 0">
      <div id="vesp" *ngFor="let vesp of proximoPeriodoSelecionado" class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-2">
        <div class="row justify-content-center">
          <div class="col-12 align-items-center" *ngFor="let diaria of getListaDiariasDia(vesp, false)">
            <div class="p-1" *ngIf="diaria">
              <hr>
              <mat-form-field *ngIf="habilitaReagendamento" class=" col-xl-10 col-lg-10 col-md-10 col-sm-12 " style="">
                <mat-label>Reagendar</mat-label>
                <input matInput [min]="hoje" [matDatepicker]="picker" [(ngModel)]="diaria.dataReagendamento">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker>
                </mat-datepicker>
              </mat-form-field>
              <mat-form-field *ngIf="habilitaAlteracaoProfissional" class=" col-xl-10 col-lg-10 col-md-10 col-sm-12 "
                style="">
                <mat-label>Novo Profissional</mat-label>
                <input matInput [(ngModel)]="diaria.profissionalAtualizado">
              </mat-form-field>
              <div class="row justify-content-center">
                <small class="col-6"><strong>Cliente: </strong>{{diaria.nomeCliente | ponto: 15}}</small><br>
                <small class="col-6"><strong>Profissional: </strong>{{diaria.nomeDiarista}}</small><br>
                <small class="col-6"><strong>Tipo: </strong>{{diaria.tipoLimpeza | tipoServico}}</small><br>
                <small class="col-6"><strong>Horas: </strong>{{diaria.horas | horasDiaria}}</small><br>
                <!-- <small class="col-6" *ngIf="!diaria.contratada"><strong>Valor: </strong>{{diaria.valor |
                  moeda}}</small><br>
                <small class="col-6" *ngIf="!diaria.contratada"><strong>Desconto: </strong>{{diaria.desconto |
                  moeda}}</small><br> -->
                <small class="col-6"><strong>Situação: </strong>{{diaria.situacao | situacaoDiaria}}</small><br>
                <small class="col-6"><strong>Turno: </strong>{{diaria.turno | turno}}</small><br>
                <small class="col-12"><strong>Situação Pagamento:
                  </strong>{{diaria.situacaoPagamento |
                  situacaoPagamento}}<br></small>
                <small class="col-12"><strong>Endereço: </strong>{{diaria.endereco}}</small><br>
                <small class="col-12"><strong>Localização: </strong> <a *ngIf="diaria.localizacao" target="_blank"
                    [href]="diaria.localizacao">Localização</a></small><br>
                <small class="col-12" *ngIf="exibeBotoesModificacao(diaria)"><strong>Pagamento: </strong>
                  <a target="_blank" [href]="diaria.linkPagamento">Link Pagamento</a><br>
                </small>
              </div>
              <div id="botoesMarcacao" *ngIf="!isAdm" class="col-12 row justify-content-center mt-3">
                <button *ngIf="isPagamentoEmAberto(diaria) && !diaria.entrada"
                  (click)="marcarHorarioAtendimento(diaria, true)" class="col-8 btn btn-primary" mat-button>
                  Marcar Chegada
                </button>
                <button *ngIf="isPagamentoEmAberto(diaria) && diaria.entrada && !diaria.saida"
                  (click)="marcarHorarioAtendimento(diaria, false)" class="col-8 btn btn-primary" mat-button>
                  Marcar Saída
                </button>
              </div>
              <div *ngIf="isDiariaEmAdamento(diaria)" class="row justify-content-center mt-3">
                <button (click)="finalizarAgendamento(diaria)" type="button" class="col-8 btn btn-primary">Finalizar
                </button>
                <button *ngIf="exibeBotoesModificacao(diaria)" (click)="cancelarAgendamento(diaria)" type="button"
                  class="col-8 btn btn-danger mt-2">Cancelar
                </button>
                <button *ngIf="habilitaReagendamento" [disabled]="!diaria.dataReagendamento"
                  (click)="reagendarAgendamento(diaria)" type="button"
                  class="col-8 btn btn-success mt-2">Reagendar</button>
                <button *ngIf="habilitaAlteracaoProfissional" [disabled]="!diaria.profissionalAtualizado"
                  (click)="atualizarProfissionalAgendamento(diaria)" type="button"
                  class="col-8 btn btn-success mt-2">Atualizar Profissional</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>