::ng-deep #mat.mat-grid-tile {
    background: lightblue !important;
}

::ng-deep #vesp.mat-grid-tile {
    background: rgb(95, 199, 166) !important;
}

#mat {
    background: lightblue !important;
    border-left: 1px solid white;
}

#vesp {
    background: rgb(95, 199, 166) !important;
    border-left: 1px solid white;
}


#per {
    background: rgb(237, 240, 157) !important;
    border-left: 1px solid white;
}