<div [style.width]="largura" class="mt-2 custom-calendar">
    <mat-grid-list cols="7" rowHeight="50px">
        <mat-grid-tile colspan="2">
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Agende o seu atendimento</mat-label>
                <input matInput [min]="hoje" [max]="maxDate" [matDatepicker]="picker" [formControl]="diaSelecionado">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="multi-year" (monthSelected)="setMonthAndYear($event, picker)">
                </mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="!isDetalhada">
            <mat-icon aria-hidden="false" aria-label="Avançar" fontIcon="face_4"></mat-icon>
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Escolha uma profissional</mat-label>
                <select matNativeControl [(ngModel)]="profissionalSelecionado" (change)="atualizarProfissional()">
                    <option value="0">Sem preferência</option>
                    <option *ngFor="let prof of profissionais" [value]="prof.id">
                        {{prof.nome}} {{prof.sobrenome | ponto: 20}}
                    </option>
                </select>
            </mat-form-field>
        </mat-grid-tile>
        <!-- <mat-grid-tile colspan="1">
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Tipo de Limpeza</mat-label>
                <select matNativeControl>
                    <option value="1">Expressa</option>
                    <option value="2">Detalhada</option>
                </select>
            </mat-form-field>
        </mat-grid-tile> -->
        <mat-grid-tile colspan="1">
            <!-- <mat-icon class="ml-2" *ngIf="!turno" aria-hidden="false" fontIcon="partly_cloudy_night"></mat-icon> -->
            <!-- <mat-icon *ngIf="turno == 2" aria-hidden="false" fontIcon="brightness_6"></mat-icon> -->
            <mat-icon aria-hidden="false" fontIcon="sunny"></mat-icon>
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Escolha um Período</mat-label>
                <select matNativeControl [(ngModel)]="turno" (change)="atualizarProfissional()">
                    <option value="0">Sem preferência</option>
                    <option value="1">Matutino</option>
                    <option value="2">Vespertino</option>
                    <option value="3">Integral</option>
                </select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" *ngIf="isDetalhada"></mat-grid-tile>

        <mat-grid-tile>
            <mat-icon aria-hidden="false" aria-label="Voltar" fontIcon="chevron_left" (click)="anterior()"></mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon aria-hidden="false" aria-label="Avançar" fontIcon="chevron_right" (click)="proximo()"></mat-icon>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let dia of diasSemana;">{{dia}}</mat-grid-tile>
        <mat-grid-tile *ngFor="let dia of diasCalendario;">
            <p #inputData (click)="selecionarData(inputData, dia)"> {{habilitarData(inputData, dia) | data : 'D'}} </p>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <app-legenda style="margin-left: 10px;" [cor]="corIndisponivel" label="Indisponível"></app-legenda>
            <app-legenda style="margin-left: 10px;" [cor]="corVerde" label="Disponível"></app-legenda>
            <!-- <app-legenda style="margin-left: 10px;" [cor]="corCinza" label="Não Selecionado"></app-legenda> -->
            <app-legenda style="margin-left: 10px;" [cor]="corPrincipal" label="Selecionado"></app-legenda>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button class="cor-laranja" [disabled]="getQtdDias() <= 0" (click)="limparDiasSelecionados()" mat-button>
                Limpar Dias Selecionados
            </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="2"></mat-grid-tile>
        <mat-grid-tile colspan="3">
            <div class="row justify-content-end">
                <div class="col-12"><strong>Valor:</strong> {{valorTotal | moeda}}</div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2"></mat-grid-tile>
    </mat-grid-list>
</div>