@import '../../../color.scss';

.mat-icon {
    cursor: pointer;
    color: $primary;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $sub;
}

.mat-icon:hover {
    background-color: $cinza;
}

:host ::ng-deep mat-grid-tile {
    color: $primary;
    font-weight: bolder;
    text-align: center;


}


p {
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $verde;
}

p[disabled="true"] {
    cursor: auto;
    background-color: $sub;
}

p[selected="true"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: $white;
}

p[indisponible="true"] {
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $laranja;
    color: $white;
}


.custom-calendar {
    ::ng-deep .mdc-text-field {
        background-color: $sub !important;
        color: $primary !important;
        padding: 25px !important;

        :hover {
            // background-color: $cinza !important;
            color: $primary !important;
            padding: auto !important;
        }
    }

    ::ng-deep .mdc-button {
        color: $white !important;
        background-color: $azul !important;
    }

    ::ng-deep .mdc-button:disabled {
        background-color: $sub !important;
    }

    ::ng-deep .mat-calendar {
        color: $white !important;
        background-color: $sub;
        // width: 100% !important;
    }

    ::ng-deep .mat-mdc-form-field {
        background-color: $sub !important;
    }

    ::ng-deep .mat-label {
        word-break: break-all;
    }


}