<div [style.width]="largura" class="mt-2">
    <mat-grid-list cols="7" rowHeight="50px">
        <mat-grid-tile colspan="2">
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Agende o seu atendimento</mat-label>
                <input matInput [min]="hoje" [max]="maxDate" [matDatepicker]="picker" [formControl]="diaSelecionado">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="multi-year" (monthSelected)="setMonthAndYear($event, picker)">
                </mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Escolha uma profissional</mat-label>
                <select matNativeControl>
                    <option value="">Sem preferência</option>
                    <option *ngFor="let prof of profissionais" [value]="prof.id">{{prof.nome}}</option>
                </select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Tipo de Limpeza</mat-label>
                <select matNativeControl>
                    <option value="1">Normal</option>
                    <option value="2">Detalhada</option>
                </select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1"> </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon aria-hidden="false" aria-label="Voltar" fontIcon="chevron_left" (click)="anterior()"></mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon aria-hidden="false" aria-label="Avançar" fontIcon="chevron_right" (click)="proximo()"></mat-icon>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let dia of diasSemana;">{{dia}}</mat-grid-tile>
        <mat-grid-tile *ngFor="let dia of diasCalendario;" (click)="selecionarData(inputData, dia)">
            <p #inputData> {{habilitarData(inputData, dia) | data : 'D'}} </p>
        </mat-grid-tile>
    </mat-grid-list>
</div>