<div [style.width]="largura">
    <mat-grid-list cols="7" rowHeight="50px">
        <mat-grid-tile colspan="3">
            <mat-form-field style="margin-top: 30px;">
                <mat-label>Agende o seu atendimento</mat-label>
                <input matInput [min]="hoje" [max]="maxDate" [matDatepicker]="picker" [formControl]="diaSelecionado">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="multi-year" (monthSelected)="setMonthAndYear($event, picker)">
                </mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2"> </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon aria-hidden="false" aria-label="Voltar" fontIcon="chevron_left" (click)="anterior()"></mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon aria-hidden="false" aria-label="Avançar" fontIcon="chevron_right" (click)="proximo()"></mat-icon>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let dia of diasSemana;">{{dia}}</mat-grid-tile>
        <mat-grid-tile *ngFor="let dia of diasCalendario;" (click)="selecionarData(inputData, dia)">
            <p #inputData> {{habilitarData(inputData, dia) | data : 'D'}} </p>
        </mat-grid-tile>
    </mat-grid-list>
</div>