<!-- <div [ngStyle]="{'background-image': getUrlImage()}"[style.background-image]="getUrlImage()" [style.width]="width" [style.height]="height"
    class="centered-background">
</div> -->

<!-- <div [style.width]="width" [style.height]="height"
    style="background-image: url('../../../assets/imgs/material-de-limpeza.gif')">
</div> -->

<img [style.width]="width" [style.height]="height" src="../../../assets/imgs/musica.jpg">
<img [style.width]="width" [style.height]="height" src="assets/imgs/musica.jpg">
<img [style.width]="width" [style.height]="height" [src]="srcImage">