.centered-background {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/imgs/material-de-limpeza.gif');
}