<div class="bg-padrao">
    <div class="menu-fixed">
        <div class=" container-fluid row justify-content-between  align-items-center">
            <div class="col-8">
                <!-- <img width="250" height="70" src="../../../assets/imgs/nova_logo.svg"> -->
                <img width="250" height="75" src="../../../assets/imgs/logo.svg">
            </div>
            <div class="col-4 p-3 container-fluid d-flex justify-content-end align-items-center">
                <div *ngIf="!isXs()">
                    <button class="btn-contrate mr-4" (click)="contratar()" mat-flat-button>AGENDE JÁ!</button>
                </div>
                <div>
                    <mat-icon class="text-white" (click)="exibirMenus()" [matMenuTriggerFor]="menu" aria-hidden="false"
                        aria-label="Perfil" fontIcon="menu"></mat-icon>
                    <div class="ml-4">
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngFor="let menu of menusHamb" (click)="menu.method()">
                                <mat-icon aria-hidden="false" [fontIcon]="menu.icon"></mat-icon>
                                {{menu.label}}
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="isXs()" class="col-12 mb-4 d-flex justify-content-end ">
                <div></div>
                <button style="margin-right: -20px;" class="btn-contrate " (click)="contratar()" mat-flat-button>AGENDE JÁ!</button>
            </div> -->
        </div>
        <div class="nav_custom">
            <div class="header container-fluid row justify-content-start ">
                <div *ngIf="!isXs()" class="col"></div>
                <div [id]="menu.id" *ngFor="let menu of menus;" class="col " (click)="select(menu.index)">
                    <h6> {{definirLabel(menu)}}</h6>
                </div>
            </div>
            <div class="body">
                <app-scroll>
                    <div *ngIf="selectedIndex == 1">
                        <app-home></app-home>
                    </div>
                    <div *ngIf="selectedIndex == 2">
                        <app-servicos></app-servicos>
                    </div>
                    <div *ngIf="selectedIndex == 3">
                        <app-agendamento></app-agendamento>
                    </div>
                    <div *ngIf="selectedIndex == 4">
                        <app-planos></app-planos>
                    </div>
                </app-scroll>
            </div>
        </div>
        <!-- <div *ngIf="!isXs()">
            <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center" (click)="select(selectedIndex)"
                [dynamicHeight]="true" [(selectedIndex)]="selectedIndex">
                <mat-tab [disabled]="true" label="">
                </mat-tab>
                <mat-tab label="Home">
                    <app-home></app-home>
                </mat-tab>
                <mat-tab label="Serviços">
                    <app-servicos></app-servicos>
                </mat-tab>
                <mat-tab label="Agendamentos">
                    <app-agendamento></app-agendamento>
                </mat-tab>
                <mat-tab label="Planos">
                    <app-planos></app-planos>
                </mat-tab>
            </mat-tab-group>
        </div> -->
    </div>
</div>