<div class="container-fluid row justify-content-center p-4">
  <div class="  card-login col-12 col-xl-6 col-lg-8 col-md-8 col-sm-12">
    <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12">
      <img width="50%" src="../../../assets/imgs/logo.svg">
    </div>
    <form style="margin-top: -50px;" [formGroup]="formLogin" class=" row justify-content-center">
      <div class="col-8 ">
        <mat-form-field class="col-12 ">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-8 mt-2 text-center">
        <mat-form-field class="col-12 ">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="senha">
        </mat-form-field>
        <small style="font-size: 12px; " *ngIf="formLogin.controls['email'].invalid" class="text-danger">
          <!-- <mat-icon style="font-size: 14px;" aria-hidden="false" fontIcon="error"> </mat-icon> -->
          Email inválido.
        </small>
        <small style="font-size: 12px; "
          *ngIf="formLogin.controls['email'].valid && formLogin.controls['senha'].invalid" class="text-danger">
          <!-- <mat-icon style="font-size: 14px;" aria-hidden="false" fontIcon="error"> </mat-icon> -->
          Escolha uma senha mais segura com até 8 dígitos. Use uma combinação de letras maiúsculas e minúsculas, números
          e símbolos.
        </small>
      </div>
    </form>
    <br>
    <p>Não tem uma conta? <b class="link" (click)="cadastrar()">Registre-se</b></p>
    <button [disabled]="formLogin.invalid" mat-button class="mt-3 p-4 mb-3" (click)="logar()">Entrar</button>
  </div>

</div>