@import '../../../color.scss';

.card-login {
    max-height: 95vh;
    margin-top: 50px;
    background-color: $primary;
    // border: 5px solid;
    border-radius: 30px;
    text-align: center;
}

img {
    cursor: pointer;
}

.fullbg {
    height: 100vh;
    width: 100%;
    background-color: $primary;
}

p {
    color: $white;
}

::ng-deep .mdc-button {
    color: $primary !important;
    background-color: $white !important;
}

::ng-deep .mdc-button:disabled {
    // color: $primary !important;
    background-color: $sub !important;
}


::ng-deep .mat-icon {
    color: $primary !important;
}
