<div class="container">
    <div>
        <mat-form-field class="col-12" style="margin-top: 20px;">
            <mat-label>
                <mat-icon class="cor-padrao" aria-hidden="false" aria-label="Planos" fontIcon="bolt"></mat-icon>Escolha
                um Plano</mat-label>
            <select matNativeControl [(ngModel)]="pagamento.tipoPlano">
                <option *ngFor="let plano of planos;" [value]="plano.id">{{plano.nome}}</option>
            </select>
        </mat-form-field>
    </div>
    <div *ngIf="pagamento.tipoPlano" class="mt-3 container-fluid row justify-content-start">
        <div class="col-12  mt-2" *ngFor="let plano of planos;">
            <div *ngIf="pagamento.tipoPlano == plano.id" class="p-4 clip-path-rectangle">
                <h4 class="cor-azul">
                    <mat-icon class="cor-branca" aria-hidden="false" aria-label="Planos"
                        fontIcon="bolt"></mat-icon>{{plano.nome}}
                </h4>
                <br>
                <small>{{plano.descricao}}</small>
                <br><br>
                <mat-form-field class="col-12 ">
                    <mat-label>Metragem (m²)</mat-label>
                    <input type="number" matInput autocomplete="off" [(ngModel)]="pagamento.metragem">
                </mat-form-field>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="pagamento.extraPlus">EXTRA PLUS</mat-checkbox> <br>
                    <small style="margin-left: 20px;" class=" font-italic text-secondary">
                        Ao adicionar o EXTRA PLUS é possível selecionar o profissional que irá realizar as diárias.
                    </small>
                </section>
                <br><br>
                <div>
                    <small class="cor-branca">Valor por Metro : {{plano.valorMetro | moeda}}</small><br>
                    <small class="cor-branca">Valor de Deslocamento : {{VALOR_DESLOCAMENTO | moeda}}</small><br>
                    <small *ngIf="pagamento.extraPlus" class="cor-branca">Valor Extra Plus :
                        {{VALOR_PROFISSIONAL_SELECIONADO | moeda}}</small><br>
                    <br><br>
                </div>
                <div *ngIf="pagamento.metragem">
                    <small class="cor-branca">Valor Total : {{calcularTotal(plano) | moeda}}</small><br>
                    <small class="cor-branca">Valor Desconto : {{calcularDesconto(plano) | moeda}}</small><br>
                    <small class="cor-branca">Valor por Diária : {{calcularDiaria(plano) | moeda}}</small><br>
                    <small class="cor-branca">Valor Total de Deslocamento : {{VALOR_DESLOCAMENTO * plano.qtdDias|
                        moeda}}</small><br>
                    <small *ngIf="pagamento.extraPlus" class="cor-branca">Valor Total Extra Plus :
                        {{VALOR_PROFISSIONAL_SELECIONADO * plano.qtdDias|
                        moeda}}</small><br>
                </div>
                <div class="d-flex justify-content-end">
                    <button [disabled]="!pagamento.metragem" mat-button class="mt-3 p-4 mb-3"
                        (click)="comprar(plano)">Selecionar</button>
                </div>
            </div>
        </div>
    </div>
</div>