<div class="container">
    <div>
        <mat-form-field class="col-12" style="margin-top: 20px;">
            <mat-label>
                <mat-icon class="cor-padrao" aria-hidden="false" aria-label="Planos" fontIcon="bolt"></mat-icon>Escolha
                um Plano</mat-label>
            <select matNativeControl [(ngModel)]="pagamento.tipoPlano" (ngModelChange)="selecionarPlano()">
                <option *ngFor="let plano of planos;" [value]="plano.id">{{plano.nome}}</option>
            </select>
        </mat-form-field>
    </div>
    <div *ngIf="pagamento.tipoPlano" class="mt-3 row justify-content-start">
        <div class="col-12  mt-2">
            <div *ngIf="planoSelecionado" class="p-4 clip-path-rectangle">
                <h4 class="cor-azul">
                    <mat-icon class="cor-branca" aria-hidden="false" aria-label="Planos"
                        fontIcon="bolt"></mat-icon>{{planoSelecionado.nome}}
                </h4>
                <br>
                <small>{{planoSelecionado.descricao}}</small>
                <br><br>
                <!-- <mat-form-field class="col-12 ">
                    <mat-label>Metragem (m²)</mat-label>
                    <input type="number" matInput autocomplete="off" [(ngModel)]="pagamento.horas"
                        (ngModelChange)="atualizarValores(planoSelecionado)">
                </mat-form-field> -->
                <mat-form-field class=" col-xl-11 col-lg-11 col-md-11 col-sm-12 col-12" style="margin-top: 20px;">
                    <mat-label>Escolha a Quantidade de Horas</mat-label>
                    <select matNativeControl [(ngModel)]="pagamento.horas"
                        (change)="atualizarValores(planoSelecionado)">
                        <option *ngFor="let horaEnum of VALORES_HORAS" [value]="horaEnum.id">
                            {{horaEnum.descricao}}</option>
                    </select>
                </mat-form-field>

                <div *ngIf="isAdmin">
                    <div id="idEmailCliente" class="col-11 ">
                        <app-auto-complete label="Email Cliente" [options]="clientes" [(value)]="pagamento.email"
                            optionsDescription="email" optionsValue="email"></app-auto-complete>
                    </div>
                    <div id="idProfissional" class="col-12" *ngIf="agendamento.turno"
                        (click)="recuperarProfissionais()">
                        <app-profissional [multiplo]="true" [profissionais]="profissionais"
                            (atualizarProfissional)="recuperarProfissional($event)"
                            [(profissionaisSelecionados)]="profissionaisSelecionados">
                        </app-profissional>
                    </div>
                    <div id="idTipoLimpeza" class="col-11" *ngIf="pagamento.email">
                        <mat-form-field class="col-12">
                            <mat-label>Tipo de Limpeza</mat-label>
                            <select matNativeControl [(ngModel)]="pagamento.tipoLimpeza">
                                <option value="4">Residencial</option>
                                <option value="5">Empresarial</option>
                                <option value="6">Passadoria</option>
                                <option value="3">Pré Mudança</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div id="idPeriodo" class="col-11" *ngIf="pagamento.email">
                        <mat-form-field class="col-12">
                            <mat-label>Escolha um Período</mat-label>
                            <select matNativeControl [(ngModel)]="turno">
                                <option value="3">Integral</option>
                                <option value="1">Matutino</option>
                                <option value="2">Vespertino</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div *ngFor="let dia of qtdDias">
                        <mat-form-field class=" col-11 ">
                            <mat-label>Limpeza {{dia}}</mat-label>
                            <input matInput [min]="dataMin" [max]="dataMax" [matDatepicker]="picker"
                                [(ngModel)]="diasSelecionados[dia-1]">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>

                        </mat-form-field>
                    </div>
                </div>
                <!-- <section class="example-section">
                    <mat-checkbox [(ngModel)]="pagamento.isDetalhada"
                        (ngModelChange)="atualizarValores(planoSelecionado)">DETALHADA</mat-checkbox> <br>
                </section> -->
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="pagamento.extraPlus"
                        (ngModelChange)="atualizarValores(planoSelecionado)">EXTRA
                        PLUS</mat-checkbox> <br>
                    <small style="margin-left: 20px;" class="text-white font-italic text-secondary">
                        Ao adicionar o EXTRA PLUS é possível selecionar o profissional que irá realizar as diárias.
                    </small>
                </section>
                <br><br>
                <div>
                    <!-- <small class="cor-branca">Valor por Metro : {{planoSelecionado.valorMetro | moeda}}</small><br> -->
                    <small class="cor-branca">Valor de Deslocamento : {{VALOR_DESLOCAMENTO | moeda}}</small><br>
                    <small *ngIf="pagamento.extraPlus" class="cor-branca">Valor Extra Plus :
                        {{VALOR_PROFISSIONAL_SELECIONADO | moeda}}</small><br>
                    <br><br>
                </div>
                <div *ngIf="pagamento.horas" id="idDadosAgendamento">
                    <small class="cor-branca">Valor Total : {{agendamentoInfo.total| moeda}}</small><br>
                    <small class="cor-branca">Valor Diária : {{agendamentoInfo.valor| moeda}}</small><br>
                    <small class="cor-branca">Valor Desconto : {{agendamentoInfo.desconto | moeda}}</small><br>
                    <small class="cor-branca">Valor por Diária : {{agendamentoInfo.total / planoSelecionado.qtdDias |
                        moeda}}</small><br>
                    <!-- <small class="cor-branca">Valor Total de Deslocamento : {{VALOR_DESLOCAMENTO * planoSelecionado.qtdDias|
                        moeda}}</small><br> -->
                    <small *ngIf="pagamento.extraPlus" class="cor-branca">Valor Total Extra Plus :
                        {{VALOR_PROFISSIONAL_SELECIONADO * planoSelecionado.qtdDias|
                        moeda}}</small><br>
                </div>
                <div class="d-flex justify-content-end">
                    <button *ngIf="isAdmin" [disabled]="!pagamento.horas || !pagamento.email" mat-button
                        class="mt-3 p-4 mb-3" (click)="agendar(planoSelecionado)">Comprar Plano</button>
                    <!-- <button *ngIf="isAdmin" [disabled]="!pagamento.horas" mat-button class="mt-3 p-4 mb-3"
                        (click)="agendar(planoSelecionado)">Agendar</button> -->
                    <div *ngIf="!isAdmin">
                        <button mat-button class="mt-3 p-4 mb-3" (click)="solicitarPlano(planoSelecionado)">
                            <i style="margin-top:16px" class="fa fa-whatsapp whatsapp-aux"></i>Solicitar
                            Plano</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=5561998657077&text=Ol%C3%A1,%20vim%20pelo%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es!"
            class="whatsapp" target="_blank">
            <i style="margin-top:16px" class="fa fa-whatsapp"></i>
        </a>
    </div>
</div>