@import '../../../color.scss';

small {
    text-align: justify;
    color: $white;
}

::ng-deep mat-icon {
    text-align: justify;
    color: $white;
}

.clip-path-rectangle:hover {
    cursor: pointer;
    border: 2px solid $primary10;
    text-align: start;
    /* Cor e largura da borda ao passar o mouse */
}

::ng-deep mat-checkbox {
    .mdc-label {
        color: $white !important;
    }

    input {
        color: $white !important;
    }
}