@import '../../../color.scss';


::ng-deep .mdc-button {
    color: $white !important;
    background-color: $primary !important;
}

::ng-deep .mdc-button:disabled {
    // color: $primary !important;
    background-color: $sub !important;
}

::ng-deep .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-height: 40px !important;
    border-top-style: solid;
    border-color: $azul !important;
    border-top-width: 40px !important;
}

::ng-deep .mdc-linear-progress__buffer-bar {
    // color: $primary !important;
    // background-color: $azul !important;
}

::ng-deep .mat-button-toggle {
    color: $white !important;
    background-color: $primary !important;
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
    color: $white !important;
    // background-color: $primary !important;
}

.mat-stepper-horizontal {
    margin-top: 8px;
    background-color: $white !important;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

input {
    border: none;
    color: $primary;

    :disabled {
        color: $primary !important;
    }
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
    color: $primary !important;
}

::ng-deep .mdc-text-field[disabled] {
    color: $primary;
}


.custom mat-form-field {
    background-color: white !important;
}

.custom {
    ::ng-deep .mdc-text-field {
        background-color: $sub !important;
        color: $primary !important;
        // padding: 0px !important;

        :disabled {
            background-color: $sub !important;
            color: $primary !important;
            padding: auto !important;
        }
    }
}

.quadro {
    color: $primary;
    // background-color: $primary;
    border-radius: 10px;
}

h5 {
    margin-bottom: 30px;
}


.payment-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.payment-header {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.payment-header h2 {
    margin: 0;
    color: #007bff;
}

.payment-info p {
    margin: 10px 0;
    font-size: 16px;
}

.payment-info strong {
    color: #333;
}

.payment-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.payment-footer button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-footer button:hover {
    background-color: #0056b3;
}