<div class="custom">
    <div *ngIf="isXs()">
        <mat-vertical-stepper linear #stepper>
            <mat-step *ngIf="habilitaStep[0]" [stepControl]="formCep" [editable]="isEditable">
                <div>
                    <ng-template matStepLabel>Localização</ng-template>
                    <div class="row justify-content-center">
                        <div class="quadro col-8 text-center">
                            <app-cep (getEndereco)="getEndereco($event)"></app-cep>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <div></div>
                        <button [disabled]="(!endereco.valido)" style="margin-left: 20px;" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </div>
            </mat-step>
            <mat-step *ngIf="habilitaStep[1]" [stepControl]="formComodos" [editable]="isEditable">
                <form [formGroup]="formComodos">
                    <ng-template matStepLabel>Cômodos</ng-template>
                    <div class="mt-4 text-center">
                        <h5>Quantos cômodos existem no local? <small class="cor-laranja">*</small> </h5>
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-3  p-2">
                                <app-numeros label="Cozinhas" [required]="true" [min]="0"
                                    [formController]="formComodos.controls['cozinha']"></app-numeros>
                            </div>
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-3  p-2">
                                <app-numeros label="Quartos" [required]="true" [min]="1"
                                    [formController]="formComodos.controls['quarto']"></app-numeros>
                            </div>
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-4  p-2">
                                <app-numeros label="Salas" [required]="true" [min]="1"
                                    [formController]="formComodos.controls['sala']"></app-numeros>
                            </div>
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-3  p-2">
                                <app-numeros label="Banheiros" [required]="true" [min]="1"
                                    [formController]="formComodos.controls['banheiro']"></app-numeros>
                            </div>
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-3  p-2">
                                <app-numeros label="Área de Serviço" [min]="0"
                                    [formController]="formComodos.controls['areaServico']"></app-numeros>
                            </div>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                        <button style="margin-left: 20px;" [disabled]="formComodos.invalid" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="habilitaStep[2]" [stepControl]="formPets" [editable]="isEditable">
                <form [formGroup]="formPets">
                    <ng-template matStepLabel>Pets</ng-template>
                    <div class="mt-4 text-center">
                        <h5>Possui algum pet? <small class="cor-laranja">*</small> </h5>
                        <div class="d-flex justify-content-center">
                            <mat-button-toggle-group formControlName="valor" required>
                                <mat-button-toggle value="1">Não</mat-button-toggle>
                                <mat-button-toggle value="2">Cachorro</mat-button-toggle>
                                <mat-button-toggle value="3">Gato</mat-button-toggle>
                                <mat-button-toggle value="4">Outros</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                        <button style="margin-left: 20px;" [disabled]="formPets.invalid" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="habilitaStep[3]" [stepControl]="formTipoLimpeza" [editable]="isEditable">
                <form [formGroup]="formTipoLimpeza">
                    <ng-template matStepLabel>Tipo de Limpeza</ng-template>
                    <div class="mt-4 ">
                        <div class="d-flex justify-content-center text-center">
                            <mat-button-toggle-group formControlName="valor" required>
                                <mat-button-toggle value="1">Expressa</mat-button-toggle>
                                <mat-button-toggle value="2">Detalhada</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="col-12 cor-laranja mt-3">
                                <app-itens-limpeza [exibeInfoProdutos]="false" [exibeInfoValores]="false"
                                    [exibeTipoLimpeza]="true"
                                    [isLimpezaDetalhada]="isLimpezaDetalhada()"></app-itens-limpeza>

                            </div>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                        <button style="margin-left: 20px;" [disabled]="formTipoLimpeza.invalid" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="habilitaStep[4]" [stepControl]="formArea" [editable]="isEditable">
                <form [formGroup]="formArea">
                    <ng-template matStepLabel>Metragem</ng-template>
                    <div class="row justify-content-center">
                        <div class="quadro col-10 text-center">
                            <mat-form-field class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <mat-label>Metragem da sua residência?</mat-label>
                                <input maxlength="4" mask="separator" decimalMarker="," thousandSeparator="."
                                    type="text" matInput formControlName="valor">
                                <span matTextSuffix>m²</span>
                                @if (formArea.invalid) {
                                <mat-error>O valor precisa estar entre {{METRAGEM_MIN}} e {{METRAGEM_MAX}}
                                    m².</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                        <button [disabled]="formArea.controls['valor'].invalid " style="margin-left: 20px;" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="habilitaStep[5]" id="Agendamento">
                <div class="mt-4 text-center">
                    <ng-template matStepLabel>Agendamento</ng-template>
                    <div id="calendarioIdAgd390">
                        <app-calendario [valorMetro]="valorMetro" [profissionais]="profissionais"
                            [metragem]="formArea.controls['valor'].value" [isDetalhada]="isLimpezaDetalhada()"
                            (getDadosAgendamento)="getDadosAgendamento($event)"></app-calendario>
                        <div class="row justify-content-end">
                            <app-itens-limpeza [exibeInfoProdutos]="false" [exibeInfoValores]="true"
                                [exibeTipoLimpeza]="false"></app-itens-limpeza>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 60px;" [class]="definirDisposicaoClasse()">
                    <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                    <button [disabled]="desabilitarAgendamento()" mat-flat-button
                        (click)="avancarOuVoltar(stepper, true)">Agendar</button>
                </div>
            </mat-step>
            <mat-step id="Finalizacao">
                <div class="mt-4 text-center">
                    <ng-template matStepLabel>Finalização</ng-template>
                    <div class="row justify-content-center">
                        <div class="col-10 payment-card">
                            <div class="payment-header">
                                <h2>Detalhes do Pagamento</h2>
                            </div>
                            <app-pagamento [agendamento]="dadosAgendamento"></app-pagamento>
                        </div>
                    </div>
                </div>
                <div [class]="definirDisposicaoClasse()">
                    <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                    <button (click)="agendar()" mat-flat-button>Pagar</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
    <div *ngIf="!isXs()">
        <mat-horizontal-stepper linear #stepper>
            <mat-step *ngIf="habilitaStep[0]" [stepControl]="formCep" [editable]="isEditable">
                <div>
                    <ng-template matStepLabel>Localização</ng-template>
                    <div class="row justify-content-center">
                        <div class="quadro col-8 text-center">
                            <app-cep (getEndereco)="getEndereco($event)"></app-cep>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <div></div>
                        <button [disabled]="(!endereco.valido)" style="margin-left: 20px;" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </div>
            </mat-step>
            <mat-step *ngIf="habilitaStep[1]" [stepControl]="formComodos" [editable]="isEditable">
                <form [formGroup]="formComodos">
                    <ng-template matStepLabel>Cômodos</ng-template>
                    <div class="mt-4 text-center">
                        <h5>Quantos cômodos existem no local? <small class="cor-laranja">*</small> </h5>
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-3  p-2">
                                <app-numeros label="Cozinhas" [required]="true" [min]="0"
                                    [formController]="formComodos.controls['cozinha']"></app-numeros>
                            </div>
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-3  p-2">
                                <app-numeros label="Quartos" [required]="true" [min]="1"
                                    [formController]="formComodos.controls['quarto']"></app-numeros>
                            </div>
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-4  p-2">
                                <app-numeros label="Salas" [required]="true" [min]="1"
                                    [formController]="formComodos.controls['sala']"></app-numeros>
                            </div>
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-3  p-2">
                                <app-numeros label="Banheiros" [required]="true" [min]="1"
                                    [formController]="formComodos.controls['banheiro']"></app-numeros>
                            </div>
                            <div class="col-12 col-xl-2 col-lg-2 col-md-4 col-sm-3  p-2">
                                <app-numeros label="Área de Serviço" [min]="0"
                                    [formController]="formComodos.controls['areaServico']"></app-numeros>
                            </div>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                        <button style="margin-left: 20px;" [disabled]="formComodos.invalid" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="habilitaStep[2]" [stepControl]="formPets" [editable]="isEditable">
                <form [formGroup]="formPets">
                    <ng-template matStepLabel>Pets</ng-template>
                    <div class="mt-4 text-center">
                        <h5>Possui algum pet? <small class="cor-laranja">*</small> </h5>
                        <div class="d-flex justify-content-center">
                            <mat-button-toggle-group formControlName="valor" required>
                                <mat-button-toggle value="1">Não</mat-button-toggle>
                                <mat-button-toggle value="2">Cachorro</mat-button-toggle>
                                <mat-button-toggle value="3">Gato</mat-button-toggle>
                                <mat-button-toggle value="4">Outros</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                        <button style="margin-left: 20px;" [disabled]="formPets.invalid" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="habilitaStep[3]" [stepControl]="formTipoLimpeza" [editable]="isEditable">
                <form [formGroup]="formTipoLimpeza">
                    <ng-template matStepLabel>Tipo de Limpeza</ng-template>
                    <div class="mt-4 ">
                        <div class="d-flex justify-content-center text-center">
                            <mat-button-toggle-group formControlName="valor" required>
                                <mat-button-toggle value="1">Expressa</mat-button-toggle>
                                <mat-button-toggle value="2">Detalhada</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="col-12 cor-laranja mt-3">
                                <app-itens-limpeza [exibeInfoProdutos]="false" [exibeInfoValores]="false"
                                    [exibeTipoLimpeza]="true"
                                    [isLimpezaDetalhada]="isLimpezaDetalhada()"></app-itens-limpeza>
                            </div>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                        <button style="margin-left: 20px;" [disabled]="formTipoLimpeza.invalid" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="habilitaStep[4]" [stepControl]="formArea" [editable]="isEditable">
                <form [formGroup]="formArea">
                    <ng-template matStepLabel>Metragem</ng-template>
                    <div class="row justify-content-center">
                        <div class="quadro col-10 text-center">
                            <mat-form-field class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <mat-label>Metragem da sua residência?</mat-label>
                                <input maxlength="4" mask="separator" decimalMarker="," thousandSeparator="."
                                    type="text" matInput formControlName="valor">
                                <span matTextSuffix>m²</span>
                                @if (formArea.invalid) {
                                <mat-error>O valor precisa estar entre {{METRAGEM_MIN}} e {{METRAGEM_MAX}}
                                    m².</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <div [class]="definirDisposicaoClasse()">
                        <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                        <button [disabled]="formArea.controls['valor'].invalid " style="margin-left: 20px;" mat-button
                            (click)="avancarOuVoltar(stepper, true)">Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="habilitaStep[5]" id="Agendamento">
                <div class="mt-4 text-center">
                    <ng-template matStepLabel>Agendamento</ng-template>
                    <div id="calendarioIdAgd390">
                        <app-calendario [valorMetro]="valorMetro" [profissionais]="profissionais"
                            [metragem]="formArea.controls['valor'].value" [isDetalhada]="isLimpezaDetalhada()"
                            (getDadosAgendamento)="getDadosAgendamento($event)"></app-calendario>
                        <div class="row justify-content-end">
                            <app-itens-limpeza [exibeInfoProdutos]="false" [exibeInfoValores]="true"
                                [exibeTipoLimpeza]="false"></app-itens-limpeza>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 60px;" [class]="definirDisposicaoClasse()">
                    <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                    <button [disabled]="desabilitarAgendamento()" mat-flat-button
                        (click)="avancarOuVoltar(stepper, true)">Agendar</button>
                </div>
            </mat-step>
            <mat-step id="Finalizacao">
                <div class="mt-4 text-center">
                    <ng-template matStepLabel>Finalização</ng-template>
                    <div class="row justify-content-center">
                        <div class="col-10 payment-card">
                            <div class="payment-header">
                                <h2>Detalhes do Pagamento</h2>
                            </div>
                            <app-pagamento [agendamento]="dadosAgendamento"></app-pagamento>
                        </div>
                    </div>
                </div>
                <div [class]="definirDisposicaoClasse()">
                    <button mat-button (click)="avancarOuVoltar(stepper, false)">Voltar</button>
                    <button (click)="agendar()" mat-flat-button>Pagar</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>