<div class="definicao-items">
  <div *ngIf="exibeTipoLimpeza">
    <small *ngIf="isLimpezaDetalhada">
      <div class="">
        <p>A <strong>limpeza detalhada</strong> é um processo mais minucioso que se
          concentra em
          cada aspecto do ambiente, incluindo áreas menos visíveis e frequentemente
          negligenciadas. O objetivo é uma limpeza completa e profunda que garante a
          remoção
          de sujeira, poeira e manchas em todos os cantos e superfícies.</p>
        <ul>
          <li><strong>Profundidade:</strong> Abrange uma limpeza completa e minuciosa.
          </li>
          <li><strong>Atenção aos Detalhes:</strong> Foca em áreas difíceis de
            alcançar,
            limpeza de manchas e desinfecção.</li>
          <li><strong>Áreas Abrangidas:</strong> Inclui todas as superfícies, cantos,
            rodapés,
            armários, eletrodomésticos, e áreas de difícil acesso.</li>
          <li><strong>Produtos Utilizados:</strong> Produtos especializados e técnicas
            de
            limpeza que garantem a remoção completa de sujeira e sujeira acumulada.
          </li>
        </ul>
        <p><strong>Exemplos de Tarefas:</strong></p>
        <ul>
          <li>Limpeza profunda de pisos, incluindo a remoção de manchas e polimento.
          </li>
          <li>Limpeza de janelas e persianas.</li>
          <li>Desinfecção de superfícies de cozinha e banheiros.</li>
          <li>Limpeza e organização de armários da cozinha.</li>
          <li>Remoção de poeira acumulada em móveis e equipamentos.</li>
        </ul>
      </div>
    </small>
    <small *ngIf="!isLimpezaDetalhada">
      <div class="">
        <p>A <strong>limpeza expressa</strong> é um tipo de limpeza rápida e superficial
          que
          foca em áreas de alto tráfego e pontos críticos que precisam de atenção
          imediata. O
          objetivo principal é remover sujeira e manter uma aparência geral limpa sem
          entrar
          em muitos detalhes.</p>
        <ul>
          <li><strong>Rapidez:</strong> Concluída em um curto período de tempo.</li>
          <li><strong>Superficialidade:</strong> Foca em limpar as áreas visíveis e
            mais
            sujas.</li>
          <li><strong>Áreas Focadas:</strong> Geralmente inclui áreas como bancadas,
            pisos, e
            o banheiro, mas não entra em detalhes menores ou espaços
            difíceis de alcançar.</li>
          <li><strong>Produtos Utilizados:</strong> Produtos de limpeza genéricos e
            eficazes
            para áreas de uso comum.</li>
        </ul>
        <p><strong>Exemplos de Tarefas:</strong></p>
        <ul>
          <li>Limpeza rápida de superfícies de cozinha.</li>
          <li>Esvaziamento de lixeiras.</li>
          <li>Limpeza de pisos com um mop ou aspirador.</li>
          <li>Limpeza básica de banheiros.</li>
        </ul>
      </div>
    </small>
  </div>
  <div *ngIf="exibeInfoValores" class="text-center">
    <small class="col-12">* É disponibilizado um percentual de desconto
      para agendamentos acima de 2 dias. Podendo acumular até {{MAX_PERCENTUAL}}% de desconto
      nos
      seus agendamentos. </small><br>
    <small class="col-12">* A escolha do profissional aumenta R$ 20 para cada dia ao valor
      total.</small><br>
    <small class="col-12">* Uma taxa de deslocamento do profissional será aplicada ao valor
      total.</small><br>
    <small class="col-12">* O período integral é calculado como 8 horas.</small><br>
  </div>

  <div *ngIf="exibeInfoProdutos" class="">
    <div class="row justify-content-center align-items-start">
      <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
        <small>Nossas Limpezas Incluem: </small>
        <ul>
          <li><small>Álcool</small></li>
          <li><small>Água sanitária</small></li>
          <li><small>Desinfetante</small></li>
          <li><small>Limpador multi-uso</small></li>
          <li><small>Detergente</small></li>
          <li><small>Limpa vidros</small></li>
          <li><small>Panos para limpeza</small></li>
          <li><small>Escovas de limpeza</small></li>
        </ul>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
        <small>Não Disponibilizamos</small>
        <ul>
          <li><small>Escadas</small></li>
          <li><small>Vassouras</small></li>
          <li><small>Rodos</small></li>
          <li><small>Baldes</small></li>
        </ul>
      </div>
    </div>
  </div>
</div>