<div class="container text-start">
  <div class="mt-3 row justify-content-start">
    <div class="col-12  mt-2">
      <div class="p-4 clip-path-rectangle">
        <mat-form-field class="col-12 ">
          <mat-label>Metragem (m²)</mat-label>
          <input [disabled]="true" type="number" matInput autocomplete="off" [(ngModel)]="agendamento.metragem">
        </mat-form-field>
        <section class="example-section">
          <mat-checkbox [disabled]="true" [(ngModel)]="agendamento.isDetalhada">DETALHADA</mat-checkbox> <br>
        </section>
        <section class="example-section">
          <mat-checkbox [disabled]="true" [(ngModel)]="agendamento.extraPlus">EXTRA
            PLUS</mat-checkbox> <br>
          <small style="margin-left: 20px;" class="text-white font-italic text-secondary">
            Ao adicionar o EXTRA PLUS é possível selecionar o profissional que irá realizar as diárias.
          </small>
        </section>
        <br><br>
        <div>
          <!-- <small class="cor-branca">Valor por Metro : {{planoSelecionado.valorMetro | moeda}}</small><br> -->
          <small class="cor-branca">Valor de Deslocamento : {{VALOR_DESLOCAMENTO | moeda}}</small><br>
          <small *ngIf="agendamento.extraPlus" class="cor-branca">Valor Extra Plus :
            {{VALOR_PROFISSIONAL_SELECIONADO | moeda}}</small><br>
          <br><br>
        </div>
        <div *ngIf="agendamento.metragem">
          <small class="cor-branca">Valor Total : {{agendamentoInfo.total| moeda}}</small><br>
          <small class="cor-branca">Valor Diária : {{agendamentoInfo.valor| moeda}}</small><br>
          <small class="cor-branca">Valor Desconto : {{agendamentoInfo.desconto | moeda}}</small><br>
          <small class="cor-branca">Valor por Diária : {{agendamentoInfo.valor / agendamento.diasSelecionados.length |
            moeda}}</small><br>
          <!-- <small class="cor-branca">Valor Total de Deslocamento : {{VALOR_DESLOCAMENTO * planoSelecionado.qtdDias|
                      moeda}}</small><br> -->
          <small *ngIf="agendamento.extraPlus" class="cor-branca">Valor Total Extra Plus :
            {{VALOR_PROFISSIONAL_SELECIONADO * agendamento.diasSelecionados.length | moeda}}</small><br>
        </div>
      </div>
    </div>
    <app-itens-limpeza [exibeInfoProdutos]="true"></app-itens-limpeza>
  </div>
</div>