@import '../../../color.scss';

small {
    text-align: justify;
    color: $white;
    font-size: 17px;
}

::ng-deep mat-icon {
    text-align: justify;
    color: $white;
}

::ng-deep mat-checkbox {
    .mdc-label {
        color: $white !important;
    }

    input {
        color: $white !important;
    }
}

::ng-deep .mdc-checkbox__background {
    border: 1px solid $white !important;
}
