<div class="container text-start">
  <div class="mt-3 row justify-content-start  align-items-center">
    <div class="col-12">
      <!-- <h4 class="text-center text-primary"> Pagamento</h4> -->
      <div class="text-center ">
        <div *ngIf="agendamento.metragem">
          <small class="">Período: {{agendamento.turno | turno}}</small><br>
          <small class="">Metragem (m²) : {{agendamento.metragem }}</small><br>
          <small class="">Tipo de Limpeza : {{agendamento.tipoLimpeza| tipoLimpeza}}</small><br>
          <!-- <small class="">Valor de Deslocamento : {{VALOR_DESLOCAMENTO | moeda}}</small><br> -->
          <small class="">Valor Desconto : {{agendamento.desconto | moeda}}</small><br>
          <small class="">Valor Diária : {{agendamento.valor| moeda}}</small><br>
          <small class="">Valor Total : {{agendamento.valor - agendamento.desconto | moeda}}</small><br>
          <small *ngIf="agendamento.diasSelecionados.length > 1" class="">Valor por Diária :
            {{agendamento.valor / agendamento.diasSelecionados.length | moeda}}</small><br>
          <!-- <small class="">Valor Total de Deslocamento : {{VALOR_DESLOCAMENTO * planoSelecionado.qtdDias|
                      moeda}}</small><br> -->
          <small *ngIf="agendamento.extraPlus" class="">Valor Total Extra Plus :
            {{VALOR_PROFISSIONAL_SELECIONADO * agendamento.diasSelecionados.length | moeda}}</small><br>
          <br> <small class="">Valores de deslocamentos já inclusos.</small><br> <br>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2 borda">
      <app-itens-limpeza [exibeInfoProdutos]="true"></app-itens-limpeza>
    </div>
  </div>
</div>