// $primary: #001f29;
// $primary1: #052935;
// $primary2: #003544;
// $primary3: #004153;
// $primary4: #004d62;
// $primary5: #005a71;
// $primary6: #006781;
// $primary7: #0082a1;
// $primary8: #009dc3;
// $primary9: #3bb8e0;
// $primary10: #5fd4fd;

$primary: #005a71;
$primary1: #006781;
$primary2: #0082a1;
$primary3: #009dc3;
$primary4: #3bb8e0;
$primary5: #001f29;
$primary6: #052935;
$primary7: #003544;
$primary8: #004153;
$primary9: #004d62;
$primary10: #185d71;
// $primary: #612a52;
// $primary1: #6b3c5e;
// $primary2: #794b6d;
// $primary3: #905881;
// $primary4: #ba75a8;
// $primary5: #b384a6;
// $primary6: #c88cb8;
// $primary7: #df84c7;
// $primary8: #d89ac8;
// $primary9: #ebc4e0;
// $primary10: #eaafda;

$secondary: #0a482c;
$secondary1: #1c593c;
$secondary2: #2e6a4c;
$secondary3: #407a5b;
$secondary4: #528b6b;
$secondary5: #57c247;
$secondary6: #72d15f;
$secondary7: #8ce178;
$secondary8: #a7f090;
$secondary9: #c1ffa8;
$secondary10: #b9deaa;

// $tertiary: #0a482c;
// $tertiary1: #1c593c;
// $tertiary2: #2e6a4c;
// $tertiary3: #407a5b;
// $tertiary4: #528b6b;
// $tertiary5: #57c247;
// $tertiary6: #72d15f;
// $tertiary7: #8ce178;
// $tertiary8: #a7f090;
// $tertiary9: #c1ffa8;
// $tertiary10: #b9deaa;

$tertiary: #001e2c;
$tertiary1: #003549;
$tertiary2: #004058;
$tertiary3: #004d68;
$tertiary4: #005978;
$tertiary5: #006688;
$tertiary6: #0080ab;
$tertiary7: #1f9bcb;
$tertiary8: #49b6e8;
$tertiary9: #77d1ff;
$tertiary10: #95d5f5;

$azul: #005ca9;
$vermelho: #fe0000;
$verde: #1c593c;
$branco: #ffffff;
$preto: #000000;
$laranja: #ffc409;
$roxo: #8080ff;
$cinza: #92949c;
$amarelo: #e9e51d;
$rosa: #ff80a2;